@import 'tailwindcss';

@font-face {
  font-family: 'font_1';
  src: url('./assets/fonts/font1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font_2';
  src: url('./assets/fonts/font2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font_3';
  src: url('./assets/fonts/font3.otf') format('opentype');
}

.hero-name {
  font-family: 'font_1';
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}